<div class="projects p-80">
    <h2 class="title">أعمالنا</h2>
    <div class="container">
        <div class="row gy-4">
            <!-- ================= project ================== -->
            <div class="col-lg-6 col-12">
                <div class="box">
                    <div class="img_cont">
                        <img src="assets/imgs/building-1210677_1920.jpg" alt="projects"
                            class="project_img">
                        <div class="lay"></div>
                        <img src="assets/logo-white-h.png" alt="" class="logo">
                        
                    </div>
                    <div class="info">
                        <div class="catigories d-flex align-items-center gap-2">
                            <span>مقاولات</span>
                            <span>الصيانة والتشغيل</span>
                            <span>مقاولات</span>
                        </div>
                        <h4>مشروع حلم 101</h4>
                    </div>
                </div>
            </div>

            <!-- ================= project ================== -->

            <!-- ================= project ================== -->
            <div class="col-lg-6 col-12">
                <div class="box">
                    <div class="img_cont">
                        <img src="assets/imgs/building-9114701_640.jpg" alt="projects"
                            class="project_img">
                        <div class="lay"></div>
                        <img src="assets/logo-white-h.png" alt="" class="logo">


                    </div>
                    <div class="info">
                        <div class="catigories d-flex align-items-center gap-2">
                            <span>مقاولات</span>
                            <span>الصيانة والتشغيل</span>
                            <span>مقاولات</span>
                        </div>
                        <h4>مشروع حلم 102</h4>
                    </div>
                </div>
            </div>

            <!-- ================= project ================== -->

            <!-- ================= project ================== -->
            <div class="col-lg-6 col-12">
                <div class="box">
                    <div class="img_cont">
                        <img src="assets/imgs/construction-site-2733678_1920.jpg" alt="projects"
                            class="project_img">
                        <div class="lay"></div>
                        <img src="assets/logo-white-h.png" alt="" class="logo">

                    </div>
                    <div class="info">
                        <div class="catigories d-flex align-items-center gap-2">
                            <span>مقاولات</span>
                            <span>الصيانة والتشغيل</span>
                            <span>مقاولات</span>
                        </div>
                        <h4>مشروع حلم 103</h4>
                    </div>
                </div>
            </div>

            <!-- ================= project ================== -->
            <!-- ================= project ================== -->
            <div class="col-lg-6 col-12">
                <div class="box">
                    <div class="img_cont">
                        <img src="assets/imgs/houses-8618837_1280.jpg" alt="projects"
                            class="project_img">
                        <div class="lay"></div>
                        <img src="assets/logo-white-h.png" alt="" class="logo">
                    </div>
                    <div class="info">
                        <div class="catigories d-flex align-items-center gap-2">
                            <span>مقاولات</span>
                            <span>الصيانة والتشغيل</span>
                            <span>مقاولات</span>
                        </div>
                        <h4>مشروع حلم 104</h4>
                    </div>
                </div>
            </div>

            <!-- ================= project ================== -->

        </div>

        <button class="gradient-btn">عرض جميع المشاريع</button>
    </div>
</div>