<div class="projects p-80">
    <h2 class="title">أعمالنا</h2>
    <div class="container">
        <div class="row gy-4">
          @for(project of projects.slice(0 , 4) ; track $index){

                     <div class="col-lg-6 col-12">
                         <div class="box"  [routerLink]="['/project', project.id]">
                             <div class="img_cont">
                                 <img [src]="url + project.interfaceImagePath" alt="projects" class="project_img" loading="lazy">
                                 <div class="lay"></div>
                                 <img src="assets/logo-white-h.png" alt="project-img" class="logo" loading="lazy">
     
                             </div>
                             <div class="info">
                                 <div class="catigories d-flex align-items-center gap-2">
                                    @for(s of project.services ; track $index){

                                        <span>{{s.arTitle.slice(2)}}</span>
                                    }
    
                                 </div>
                                 <h4>{{project.arTitle}}</h4>
                             </div>
                         </div>
                     </div>
                 }

        </div>

        <button class="gradient-btn" routerLink="/projects">عرض جميع المشاريع</button>
    </div>
</div>

