.box{
    cursor: pointer;
    box-shadow: var(--shadow);
}
.img_cont {
    position: relative;
    overflow: hidden;
    height: 400px;
}

.img_cont .lay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
            rgba(24, 56, 96, 0.9) 0%,
            rgba(0, 133, 163, 0.6) 40%,
            rgba(0, 133, 163, 0.3) 70%,
            rgba(0, 186, 216, 0.0) 100%);
    left: 0;top: 0;
}
.img_cont .project_img{
    transition: 0.5s;
        height: 100%;
    width: 100%;
}
.box:hover .project_img{
    scale: 1.1;

}


.img_cont .logo {
    position: absolute;
    width: 100px;
    left: 20px;
    bottom: 20px;
    filter: grayscale();
}
.img_cont .pattern{
    position: absolute;
    top: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    width: 30%;
filter: grayscale();
opacity: 0.2;
}

.info {
    padding: 15px;
}

.info span {
    display: block;
    font-size: 10px;
    color: var(--primary);
    background: #0085a34f;
    padding: 3px 5px;
    width: fit-content;
    margin-bottom: 15px;
    width: 80px;
    text-align: center;
}

.info h4 {
    color: var(--primary-dark);
}

.gradient-btn{
    margin: 50px auto 0 ;
    display: block;
    font-size: 20px;
}

@media(max-width:568px){
    .img_cont{
        height: 300px;
    }
}