<div class="hero position-relative">
    <img src="assets/outline-shape.png" alt="pattren" class="pattren position-absolute">

    <div class="container">
        <div class="row gy-5 justify-content-center">

            <div class="col-lg-6 col-12 order-lg-0 order-1">
                <div class="info">
                    <h1>نبتكر الرؤية.. نصمم الإبداع.. نتقن التنفيذ</h1>
                    <p>شركة مقام الفضية هي شركة سعودية  وتعد من الشركات الرائدة في مجال المقاولات وأعمال
                        الإنشاءات، تدير الشركة وتشرف على مشاريع التشييد والترميم ابتداء من مرحلة التصميم إلى مرحلة
                        التسليم النهائية، كما تتميز شركة مقام بسجل حافل من الإنجازات في المشاريع السكنية والتجارية.</p>
                    <button class=" gradient-btn" routerLink="/about">اعرف المزيد</button>
                    <button class="second_btn" routerLink="/price">طلب عرض سعر</button>
                </div>
            </div>

            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <div class="shape">
                    <img src="assets/imgs/houses-8618837_1280.jpg" alt="building">
                </div>
            </div>


        </div>
    </div>

</div>