.hero {
    padding: 80px 0 100px;
   margin-top: 100px;
}

.pattren {
    filter: opacity(0.2) grayscale();
    top: 50px;
    right: -100px;
    z-index: -1;
    height: 130%;
}

.row {
    width: 100%;
    margin-top: 0px;
    align-items: center;
}

.info h1 {
    font-size: 55px;
}

.info p {
    color: #777;
    margin: 20px 0;
    font-size: 18px;
}

.info button {
    font-size: 20px;
    padding: 15px 35px;
    font-weight: bold;
    margin: 20px 5px 0;
    transition: 0.5s ease;
    width: 200px;
}



.info .second_btn {
    border: 2px solid var(--primary);
    background: #fff;
    color: var(--primary);
}

.info .second_btn:hover {
    background: var(--primary);
    color: #fff;
}

.shape {
    width: 600px;
    height: 490px;
    overflow: hidden;
    border-radius: 65% 35% 60% 40% / 50% 55% 45% 50%;
    animation: morph 5s linear infinite;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.18);
}

.shape img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1.05);
}

@keyframes morph {
    0% {
        border-radius: 65% 35% 60% 40% / 50% 55% 45% 50%;
    }

    33% {
        border-radius: 70% 30% 55% 45% / 55% 45% 55% 45%;
    }

    66% {
        border-radius: 60% 40% 65% 35% / 45% 60% 40% 55%;
    }

    100% {
        border-radius: 65% 35% 60% 40% / 50% 55% 45% 50%;
    }
}

@media(max-width:991px) {
    .row {
        margin-top: 40px;
    }

    .pattren {
        height: 100%;
        filter: opacity(0.1);
    }

    .shape {
        width: 500px;
        height: 390px;
    }

    .info {
        text-align: center;
    }
}

@media(max-width:578px) {
    .row {
        margin-top: 20px;
    }

    .shape {
        width: 350px;
        height: 280px;
    }

    .info h1 {
        font-size: 25px;
    }

    .info p {
        font-size: 14px;
    }

    .info button {
        font-size: 17px;
        padding: 7px 20px;
        margin: 10px 5px 0;
        width: 170px;

    }
}

@media(max-width:350px) {
    .shape {
        width: 250px;
        height: 180px;
    }

}