<section>
    <app-header></app-header>
    <div class="sec_header">
        <h2>أعمالنا</h2>
        <p> <span routerLink="/home">الرئيسية</span> / أعمالنا </p>
    </div>

    <div class="projects p-80">
        <div class="container">
            <div class="row gy-4">
                
                <!-- ================= project ================== -->
                 @for(project of projects ; track $index){

                     <div class="col-lg-6 col-12">
                         <div class="box" [routerLink]="['/project', project.id]">
                             <div class="img_cont">
                                 <img [src]="url + project.interfaceImagePath" alt="projects" class="project_img" loading="lazy">
                                 <div class="lay"></div>
                                 <img src="assets/logo-white-h.png" alt="project-img" class="logo" loading="lazy">
     
                             </div>
                             <div class="info">
                                 <div class="catigories d-flex align-items-center gap-2">
                                    @for(s of project.services ; track $index){

                                        <span>{{s.arTitle}}</span>
                                    }
    
                                 </div>
                                 <h4>{{project.arTitle}}</h4>
                             </div>
                         </div>
                     </div>
                 }

                <!-- ================= project ================== -->


            </div>
        </div>
    </div>

    <app-footer></app-footer>
</section>