.numbers {
    background: url(../../../../assets/imgs/numbers.jpg);
    background-attachment: fixed;
    height: 40vh;
    position: relative;
    margin-top: 100px;
}

.lay {
    background: linear-gradient(to top,
            rgba(24, 56, 96, 1) 0%,
            rgba(24, 56, 96, 0.5) 50%,
            rgba(0, 133, 163, 0.3) 70%,
            rgba(0, 186, 216, 0.1) 100%);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.row {
    height: 100%;
}

.col-12 {
    color: #fff;
    border-left: solid #fff 0.5px;
}

.col-12:hover .text {
    transform: translateY(-15px);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding: 0 20px 40px;
    transition: 0.3s;
}

.text p {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

@media(max-width:578px){
    .numbers{
        height: auto;
        text-align: center;
    }
    .col-12 {
    color: #fff;
    border-left: none;
    border-bottom: solid #ffffff5d 0.5px;
}
}