<div class="numbers">
    <div class="container-fluid h-100 position-relative z-2">
        <div class="row gy-sm-0 gy-4">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>8</p>
                    <span>مشاريع تم انجاوها</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>35421</p>
                    <span>المساحات المنجزة</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>50</p>
                    <span>شركاء النجاح</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>10</p>
                    <span>مشاريع قيد التنفيذ</span>
                </div>
            </div>
        </div>
    </div>

    <div class="lay"></div>

</div>