<div class="numbers stats">
    <div class="container-fluid h-100 position-relative z-2">
        <div class="row gy-sm-0 gy-4">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>{{ counters[0].value }} +</p>
                    <span>مشاريع تم انجاوها</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>{{ counters[1].value }} +</p>
                    <span>المساحات المنجزة</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>{{ counters[2].value }} +</p>
                    <span>شركاء النجاح</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="text">
                    <p>{{ counters[3].value }} +</p>
                    <span>مشاريع قيد التنفيذ</span>
                </div>
            </div>
        </div>
    </div>

    <div class="lay"></div>

</div>