<div class="news p-80 position-relative">
    <h2 class="title">الأخبار</h2>

    <div class="container">



        <div class="swiper mySwiper2 mt-5">
            <div class="swiper-wrapper">
                @for(n of news ; track $index){
                    <div class="swiper-slide news-card">
                        <div class="new">
                            <div class="img_cont">
                                @if(n.imagePath){
                                    <img [src]="url + n.imagePath" alt="news" class="img-fluid" loading="lazy">
                                }@else {
                                    <video [src]="url + n.vedioPath" controls></video>
                                }
                            </div>
                            <div class="text">
                                <span> {{n.date}}</span>
                                <h4>{{n.arTitle}}</h4>
                                <p>{{n.arDescription}}</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

</div>