.container {
    position: relative;
    z-index: 10;
}

.new {
    box-shadow: var(--shadow);
}

.text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 280px;
}

.text span {
    font-size: 11px;
}

.text h4 {
    color: var(--primary-dark);
}

.img_cont {
    height: 300px;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 10px 10px 50px;
    /* margin-top: 50px; */
}


.swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:578px) {
    .text {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 300px;
    }
}