<div class="about p-80">
    <div class="lay"></div>
    <div class="container position-relative z-1">
        <div class="info">
            <h2>شركة مقام الفضية تقدم لعملائها الحلول والابتكارات الهندسية والمعمارية بكل فاعلية</h2>
            <p>
                نضمن لكم التميز والجمال والراحة في أنماط الحياة من خلال تصميماتنا المتميزة التي تأخذكم إلى المستقبل من
                خلال
                رؤية مستقبلية مدروسة بعناية تامة وبأسس علمية مميزة
            </p>
            <button class="second_btn" routerLink="/contact">تواصل معنا</button>
        </div>
    </div>
</div>