.about {
    background-image: url(../../../../assets/imgs/building-1210677_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
    height: 40vh;
    position: relative;
    color: #fff;
}

.lay {
    width: calc(100%);
    height: 100%;
    background: linear-gradient(to left,
            rgba(24, 56, 96, 1) 0%,
            rgba(0, 133, 163, 0.9) 40%,
            rgba(0, 133, 163, 0.7) 70%,
            rgba(0, 186, 216, 0.3) 100%);

    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 0;
}

.info {
    width: 50%;
}

.info h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.info p {
    font-size: 17px;
}

.info button {
    font-size: 20px;
    padding: 15px 35px;
    font-weight: bold;
    margin: 20px 5px 0;
    transition: 0.5s ease;
    width: 200px;
    background: #fff;
    color: var(--primary);
    border: none;
}


.info .second_btn:hover {
    background: var(--primary);
    color: #fff;
}

@media(max-width:1200px) {
    .info {
        width: 70%;
    }
}

@media(max-width:991px) {
    .info {
        width: 100%;
        text-align: center;
    }
}

@media(max-width:768px) {
    .info h2 {
        font-size: 25px;
    }
    .info p{
        font-size: 15px;
    }
    .info button {
        font-size: 17px;
        padding: 7px 20px;
        font-weight: bold;
        margin: 10px 0px 0;
        transition: 0.5s ease;
        width: 150px;
        background: #fff;
        color: var(--primary);
        border: none;
    }
}
@media(max-width:578px) {
    .info h2 {
        font-size: 20px;
    }
}
@media(max-width:350px) {
    .info h2{
        font-size: 17px;
    }
}