<section>
    <app-header></app-header>


    <div class="project_det ">
        <div class="container">
            <div class="header d-flex justify-content-between align-items-center">
                <div class="">
                    <h2>مشروع سكني</h2>
                    <span>مارس 1, 2019</span>
                </div>
               <a href="https://maps.app.goo.gl/2TCMrTzJ6bDkCCa89" target="_blank">
                <button>موقع المشروع</button>
               </a> 
            </div>

            <div class="row gy-4 ">
                <div class="col-12 col-lg-8">
                    <div class="img_cont">
                        <img src="assets/masory/5.jpg" alt="project" class="">
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="box">
                        <div class="info">
                            <h6> اسم العميل:</h6>
                            <p>شركة مدائن العقارية</p>
                        </div>
                        <div class="info">
                            <h6> قيمة المشروع: </h6>
                            <p>2,544,570 ريال سعودي</p>
                        </div>
                        <div class="info">
                            <h6> تاريخ البداية:</h6>
                            <p>مارس 1, 2019</p>
                        </div>
                        <div class="info">
                            <h6> تاريخ النهاية :</h6>
                            <p>مارس 1, 2025</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about_project">
                <h3>عن المشروع</h3>
                <p>تم بناء العمارة بدايةً من أعمال الأساسات والهيكل الخرساني، ثم تنفيذ الأعمدة والكمرات والأدوار بشكل
                    متقن. بعد ذلك تم شغل التشطيبات الداخلية من بلاط، دهانات، أبواب ونوافذ، مع تركيب الكهرباء والسباكة
                    بالكامل. في النهاية تم العمل على الواجهات الخارجية وتنسيق الممرات والمداخل، لضمان جودة البناء
                    واستكمال المشروع وفق المخطط المعماري المعتمد.</p>
            </div>

            <div class="list">
                <img src="assets/masory/1.jpg" alt="1">
                <img src="assets/masory/2.jpg" alt="2">
                <img src="assets/masory/3.jpg" alt="3">
                <img src="assets/masory/4.jpg" alt="4">
                <img src="assets/masory/5.jpg" alt="5">
                <img src="assets/masory/6.jpg" alt="6">
                <img src="assets/masory/7.jpg" alt="7">
                <img src="assets/masory/8.jpg" alt="8">
                <img src="assets/masory/9.jpg" alt="9">
                <img src="assets/masory/10.jpg" alt="10">

            </div>

        </div>
    </div>
    <app-footer></app-footer>
</section>