<div class="services p-80">

    @if(title){
    <h2 class="title">خدماتنا</h2>
    }

    <div class="container">
        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 col-12">
                <div class="box">
                    <img src="assets/imgs/construction-site-2733678_1920.jpg" alt="services">
                    <div class="info">
                        <h4>المقاولات العامة</h4>
                        <p>تنفيذ المشاريع السكنية والتجارية - إدارة وتنفيذ المشاريع
                            حتى التسليم</p>
                    </div>
                    <div class="lay"></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="box">
                    <img src="assets/imgs/finishs.jpg" alt="services">
                    <div class="lay"></div>
                    <div class="info">
                        <h4>التشطيبات</h4>
                        <p>تشطيبات داخلية وخارجية - أعمال الدهانات والديكور</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="box">
                    <img src="assets/imgs/worker-9694119_1920.jpg" alt="services">
                    <div class="lay"></div>
                    <div class="info">
                        <h4>الإشراف الهندسي</h4>
                        <p>الإشراف الهندسي - إدارة الجودة والسلامة - متابعة الجداول الزمنية والتنفيذ</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="box">
                    <img src="assets/imgs/rebuildung.jpg" alt="services">
                    <div class="lay"></div>
                    <div class="info">
                        <h4>الترميم وإعادة التأهيل</h4>
                        <p>ترميم المباني القديمة - إعادة تأهيل المنشآت - تحسين ورفع كفاءة المباني</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="box">
                    <img src="assets/imgs/construction.jpg" alt="services">
                    <div class="lay"></div>
                    <div class="info">
                        <h4>الإنشاءات</h4>
                        <p>أعمال الخرسانة المسلحة - الهيكل الإنشائي الكامل - القواعد والأساسات</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="box">
                    <img src="assets/imgs/office-594132_1280.jpg" alt="services">
                    <div class="lay"></div>
                    <div class="info">
                        <h4>التصميم</h4>
                        <p>إعداد المخططات المعمارية والإنشائية وفق أعلى المعايير الهندسية</p>
                    </div>
                </div>
            </div>

        </div>
    </div>




</div>
<div class="request container-lg container-fluid">
    <div class="text ">
        <p>لديك مشروع ؟ </p>
        <p>أخبرنا عن تفاصيل طلبك ودعنا نتولى الأمر</p>
    </div>
    <button routerLink="/price">طلب عرض سعر</button>
</div>