/* ================ font ============== */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

/* ================ font ============== */

:root {

  --primary-dark: #183860;
  --primary: #0085a3;
  --primary-l: #00bad8;
  --gray-m: #c6c3c6;
  --gray-l: #dcdcdc;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  ;

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  direction: rtl;
}

/* ====================== global ====================== */


/*============================ component=========================== */

.p-80 {
  padding: 80px 0;
}

.gradient-btn {
  padding: 14px 38px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;

  background: linear-gradient(120deg,
      var(--primary),
      var(--primary-l),
      var(--primary-dark),
      #00c6ff);
  background-size: 300% 300%;
  background-position: 0% 50%;
  transition: background-position 0.5s ease, transform 0.3s ease;
}

.gradient-btn:hover {
  background-position: 100% 50%;
  transform: translateY(-2px);
}

.gradient-btn:active {
  transform: translateY(0);
}

@media(max-width:578px) {
  .gradient-btn {
    padding: 10px 20px;

  }
}

.title {
  text-align: center;
  font-size: 40px;
  color: var(--primary-dark);
  margin-bottom: 50px;
}

.sec_header {
  color: #fff;
  background: var(--primary);
  padding: 30px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.sec_header h2 {
  font-size: 20px;
  font-weight: bold;
}
.sec_header p {
  font-size: 11px;
  margin: 0;
}

.sec_header span {
  font-weight: bold;
  color: #fff;
  margin: 0 5px;
  transition: 0.3s;
  cursor: pointer;
}

.sec_header span:hover {
  background: var(--primary);
  color: var(--primary-dark);
}



/* ========================= تفاصيل المشروع ================================ */
.project_det {
  padding: 150px 0 80px;
}

.project_det .header {
  margin-bottom: 30px;
}

.project_det .header button {
  border: none;
  background: var(--primary-dark);
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}
.project_det .header button:hover {
  background: #183860c7;
}

.project_det h2 {
  color: var(--primary-dark);
}

.project_det span {
  color: #777;
}

/* end header  */

.project_det .img_cont {
  height: 500px;
}

.project_det .img_cont img {
  height: 100%;
  width: 100%;
}

.project_det .box {
  height: 100%;
}

.project_det .box .info {
  background: #f5f6f9;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
}

.project_det .box .info h6 {
  font-weight: bold;
  font-size: 17px;
  color: var(--primary);
}

@media(max-width:578px) {
  .project_det .img_cont {
    height: 350px;
  }
}

/* end row   */

.project_det .about_project {
  margin: 40px 0 80px;
}

.project_det .about_project h3 {
  color: var(--primary-dark);
}

.project_det .list {
  column-count: 3;
  column-gap: 16px;
}

.project_det .list img {
  width: 100%;
  margin-bottom: 16px;
  display: block;
  border-radius: 12px;
  break-inside: avoid;
}

/* Responsive */
@media (max-width: 1200px) {
  .project_det .list {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .project_det .list {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .project_det .list {
    column-count: 1;
  }
}

/* ========================= تفاصيل المشروع ================================ */