<div class="contact">
    <div class="container d-flex justify-content-between align-items-center flex-lg-row flex-column gap-3">
        <div class="info">
            <p>اعمالنا شاهدة على تميزنا</p>
        </div>
        <button class="" routerLink="/contact">تواصل معنا</button>
    </div>
</div>
<footer class="footer bg-dark-blue text-white pt-5">
    <div class="container">
        <div class="row gy-4">

            <!-- اللوجو والسوشيال -->
            <div class="col-lg-4 col-md-6 d-flex align-items-center gap-2 flex-column">
                <img src="assets/logo-white-vertcal.png" alt="مقام الفضية" class="mb-3" width="120">
                <div class="footer-social">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-x-twitter"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>



            <!-- روابط سريعة -->

            <div class="col-lg-2 col-md-6">
                <h5 class="footer-title">روابط سريعة</h5>
                <ul class="list-unstyled footer-links">
                    <li><a routerLink="/home">الرئيسية</a></li>
                    <li><a routerLink="/about">من نحن</a></li>
                    <li><a routerLink="/services">خدماتنا</a></li>
                    <li><a routerLink="/projects">مشاريعـنا</a></li>
                    <li><a routerLink="/contact">اتصل بنا</a></li>
                </ul>
            </div>

            <!-- الخدمات -->

            <div class="col-lg-3 col-md-6">
                <h5 class="footer-title">الخدمات</h5>
                <ul class="list-unstyled footer-links">
                    <li><a>المقاولات العامة</a></li>
                    <li><a>التشطيبات</a></li>
                    <li><a>الاشراف الهندسي</a></li>
                    <li><a>الترميم وإعادة التأهيل</a></li>
                    <li><a>الإنشاءات</a></li>
                    <li><a>التصميم</a></li>
                </ul>
            </div>

            <!-- تواصل معنا -->
            <div class="col-lg-3 col-md-6">
                <h5 class="footer-title">تواصل معنا</h5>
                <ul class="list-unstyled footer-list">
                    <li>
                        <i class="fas fa-location-dot"></i>
                        جدة - حي السلامة - مركز اليمامة للأعمال - مكتب 201
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <span>⁦+966 53 777 8106⁩</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <span>maqamalfetheya&#64;gmail.com</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- الكوبي رايت -->
    <div class="footer-bottom text-center mt-5 py-3">
        <small>
             جميع الحقوق محفوظة © 2026 شركة مقام الفضية للمقاولات
        </small>
    </div>
</footer>